@use "../abstracts" as *;

.form-container {
  background-color: $white;
}

.form-group {
  margin-bottom: 20px;

  label {
    display: block;
    margin-bottom: 5px;
  }

  button {
    flex-direction: column;
  }
}
