@use "../abstracts" as *;

.hero {
  &-home {
    width: 80%;

    @include min-screen("md") {
      width: 300px;
    }

    @include min-screen("lg") {
      width: 500px;
    }

    @include min-screen("xl") {
      width: 637px;
    }
  }

  &-websites {
    width: 100%;

    @include min-screen("md") {
      width: 400px;
    }

    @include min-screen("lg") {
      width: 500px;
    }

    @include min-screen("xl") {
      width: 744px;
    }
  }

  &-designs {
    width: 100%;

    @include min-screen("md") {
      width: 350px;
    }

    @include min-screen("lg") {
      width: 500px;
    }

    @include min-screen("xl") {
      width: 664px;
    }
  }

  &-casestudies {
    width: 100%;

    @include min-screen("md") {
      width: 350px;
    }

    @include min-screen("lg") {
      width: 500px;
    }

    @include min-screen("xl") {
      width: 664px;
    }
  }
}
