// ------------------------------------------------------ //
// General Settings
// ---------------
//
// ------------------------------------------------------ //
// Margin
//
$margin: 1.25rem;
// ------------------------------------------------------ //
// Padding
//
$padding: 1.25rem;
// sass-lint:disable-all
// ----------------------------------------------------------------------------------- //
// reference material
// scotch.io/tutorials/default-sizes-for-twitter-bootstraps-media-queries
// css-tricks.com/snippets/css/media-queries-for-standard-devices
// ----------------------------------------------------------------------------------- //
// below is a really comprehensive guide to break points
// responsivedesign.is/develop/browser-feature-support/media-queries-for-common-device-breakpoints
// ----------------------------------------------------------------------------------- //
// iphone  || small devices || desktops || wide screens || large screens || super wide //
// xs: 320 || sm: 480       || md: 768  || lg: 1024     || xl: 1274      || xxl: 1548  //
// ----------------------------------------------------------------------------------- //
$container-max-widths: (
  xs: 90%,
  sm: 400px,
  md: 688px,
  lg: 944px,
  xl: 1194px,
  xxl: 1468px,
);
$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 768px,
  lg: 1024px,
  xl: 1274px,
  xxl: 1548px,
);
// ------------------------------------------------------ //
// Columns
//
$grid-columns: 12;
$grid-gutter-width-base: 1vw;
// sass-lint:enable-all
// ------------------------------------------------------ //
// Colors
// ------
//
// Grays
$white: #fff;
$off-white: #efefef;
$gray-light: #e0e0e0;
$gray: #7c8a9a;
$gray-dark: darken($gray, 20%);
$off-black: darken($gray, 30%);
$black: darken($gray, 40%);
// ------------------------------------------------------ //
// Design Colors
//
$deep-sapphire: #032349;
$curious-blue: #24a2e5;
$red-dark: #a20b10;
$red-light: #f61118;
$yellow: #f4c340;
$someblue: #00c0ff;

$martinique: #323550;
$mirage: #191b28;
$tumbleweed: #dab279;
$ebony-clay: #22253a;
$leather: #967751;
$east-bay: #4a4e69;

$black-pearl: #02040c;

$black: #000000;

// ------------------------------------------------------ //
// Brand Definitions
//
$brand-primary: $martinique;
$brand-primary-alt: $ebony-clay;
$brand-primary-light: $east-bay;
$brand-secondary: $mirage;
$brand-tertiary: $tumbleweed;
$brand-tertiary-alt: $leather;

// ------------------------------------------------------ //
// Text Colors
//
$text-color-light: $white;
$text-color-medium: $gray;
$text-color-dark: $black-pearl;
$text-color-primary: $brand-primary;
$text-color-primary-light: $brand-primary-light;
$text-color-secondary: $brand-secondary;
$text-color-tertiary: $brand-tertiary;
$text-color-gray-light: $gray-light;

// ------------------------------------------------------ //
// Link Colors
//
$link-color-primary: $brand-secondary;
$link-color-secondary: $brand-primary;

// ------------------------------------------------------ //
// Action Colors
//
$danger: $red-light;
$warning: $yellow;
$info: $someblue;

// ------------------------------------------------------ //
// Color Map
//
$colors: (
  brand-primary: $brand-primary,
  brand-primary-alt: $brand-primary-alt,
  brand-primary-light: $brand-primary-light,
  brand-secondary: $brand-secondary,
  brand-tertiary: $brand-tertiary,
  brand-tertiary-alt: $brand-tertiary-alt,
  black-pearl: $black-pearl,
  white: $white,
);

// ------------------------------------------------------ //
// Typography
// ------
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Allura&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

$font-abril-fatface: "Abril Fatface", serif;
$font-lato: "Lato", sans-serif;
$font-allura: "Allura", cursive;
$line-height: 1.15em;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-black: 900;

$title-font: $font-abril-fatface;
$title-font-alt: $font-allura;
$body-font: $font-lato;

// // ------------------------------------------------------ //
// // Font Sizes
// //
$font-size-base: 1rem;
$font-size-xs: $font-size-base - 0.4;
$font-size-sm: $font-size-base - 0.25;
$font-size-md: $font-size-base;
$font-size-lg: $font-size-base + 0.5;
$font-size-xl: $font-size-base + 1;
$font-size-xxl: $font-size-base + 2;

$font-size-title: $font-size-xl;
$font-size-sub-title: $font-size-lg;
$font-size-text: $font-size-md;

// // ------------------------------------------------------ //
// Image Paths
//
$path-img: "../../danielmb/images";
